@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.fa{
    font-size:20px;
}

header {
    margin: 0;
}

.heading{
    margin-left: 50px;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.logo{
    background: url("images/thebeatles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 400px;
    transition: all.5s ease-in-out;
   -moz-transition: all.5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;
    -o-transition: all.5s ease-in-out;
}

.banner{
    width: 100%;
    max-height: 400px;
}

.ul-menu-color-home {
    background-color: #780EDD;
}
.ul-menu-color-music {
    background-color: #0CD4E7;
}

.ul-menu-color-tours {
    background-color: #E7910F;
}

.ul-menu-color-bookings {
    background-color: #6CD000;
}


.container-fluid{
    background-color: #FF69B4;
    text-align: center;
}



.menuitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}


.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hvr-sweep-to-top:before {
    background: rgba(0,0,0,0.1);
    height: 80px;
}

h2{
    padding-top:20px;
    padding-bottom: 40px;
    color:#0CD4E7;
}

h3{
    font-size: 30px;
    color: #780EDD;
    padding-top:20px;
}
h4{
    font-size: 15px;
    color: #000000;
}
h5{
    font-size: 20px
}

.about{
    padding-bottom: 50px;
}

.members{
    height:1680px;
    background-color: #ffffff;
    padding-bottom:50px;
}


.news{
    height:1680px;
    background-color: #780EDD;
}


 .container {
      padding: 10px 10px 10px 10px;
  }
  
  
  .band {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  
  
  #john{
      color: #ff00ee;
      font-size: 18px;
      padding-top:25px;
  }
  
   #paul{
      color: #ff00ee;
      font-size: 18px;
      padding-top:25px;
  }
   #george{
      color: #ff00ee;
      font-size: 18px;
      padding-top:25px;
  }
   #ringo{
      color: #ff00ee;
      font-size: 18px;
      padding-top:25px;
  }
  
  .liverpool{
      padding:40px 30px 30px 20px;
      float:left;width:280px;height:220px;
  }
 
 
 p{
     margin: 20px 30px;
     font-size: 18px;
     color:#000000;
 }
 
 .link{
     color:#0CD4E7;
 }
 
 .video{
     padding-bottom: 50px;
 }
 
 .performance {
     padding-bottom: 100px
 }
 
 .wedding {
     padding-bottom:100px;
 }
 

 .listen{
     background-color: #f2e6ff;
     color: #000000;
     padding-top:30px;
     padding-bottom: 30px;
 }
 
.songs{
    padding-top: 20px
}

.bg-color-contact{
    background-color: #ffffff;
}
/*.................................contact*/

.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 420;
    margin-top: 25px;
    margin-bottom: 25px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    
}

button[type="submit"]{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #E7910F;
    color:#ffffff;
}

audio{
    width: 50%;}
    
/*..............................media queries*/

   @media only screen and (max-width: 768px) {
    .members {
        height:400%;
    } 
  }
  
  @media only screen and (max-width: 768px) {
    .band {
        width: 25%;
    } 
    
  }
  @media (min-width: 992px){
  .center-form{
    padding-top: 30px;
    min-height:240px;
    margin: 0 auto;
    max-width: 50%;
    
}
  
 
  
  


  
  




  
  


